// blue variables*************************************************************
$blue-theme_palette: #1980ee;
$blue-theme_palette_hover: #51a5ff;
$blue-theme_app_bg: #10457e;
$blue-theme_iconbg_color1: #0b3a6d;
$blue-theme_iconbg_color2: #104277;
$blue-theme_navbar_bg: #042f5e;
$blue-theme_logolink: #fff;
$blue-theme_navlink: #e9e8e8;
$blue-theme_navlink_hover: #fff;
$blue-theme_navlink_active: #fff;
$blue-theme_navlink_bg: #fd965a;
$blue-theme_soclink: #e9e8e8;
$blue-theme_soclink_hover: #fd965a;
$blue-theme_madeby: #fd965a;
$blue-theme_text: #fff;
$blue-theme_line: #bebebe;
$blue-theme_a_link: #fd965a;
$blue-theme_a_link_hover: #ffba92;
$blue-theme_btn_bg: #fd965a;
$blue-theme_btn_text: #b95318;
$blue-theme_btn_text_hover: #fff;

$blue-theme_card_bg: #042f5e;
$blue-theme_card_text: #fff;
$blue-theme_card_src: #fd965a;
$blue-theme_card_overlay: rgba(0, 0, 0, 0.55);
$blue-theme_card_overlay_icon: #fd965a;
$blue-theme_card_border: #c5c5c5;
$blue-theme_card_border_hover: #70b5ff;
$blue-theme_card_boxshadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);

$blue-theme_tooltip_bg: #fd965a;
$blue-theme_tooltip_text: #fff;

/* blue-theme ********************************************************************************/
/* blue-theme ********************************************************************************/
.blue-theme {
  color: $blue-theme_text;
  // links
  a {
    color: $blue-theme_a_link;
    &:hover {
      color: $blue-theme_a_link_hover;
    }
  }
  // main bg
  .app {
    background-color: $blue-theme_app_bg;
  }
  // navbar
  .navbar {
    background-color: $blue-theme_navbar_bg;
    .logo-link {
      color: $blue-theme_logolink;
    }
    .nav-link {
      color: $blue-theme_navlink;
      &:hover {
        color: $blue-theme_navlink_hover;
      }
      &-active {
        color: $blue-theme_navlink_active;
        background-color: $blue-theme_navlink_bg;
        &:hover {
          color: $blue-theme_navlink_active;
        }
      }
    }
  }
  // palette
  .palette-themes {
    background-color: $blue-theme_navbar_bg;
  }
  // footer
  .madeby {
    color: $blue-theme_madeby;
  }
  .soc-link {
    color: $blue-theme_soclink;
    &:hover {
      color: $blue-theme_soclink_hover;
    }
  }
  // about page lines
  .withline::after,
  .withline::before {
    background-color: $blue-theme_line;
  }
  // contacts button
  .contacts-btn {
    background-color: $blue-theme_btn_bg;
    color: $blue-theme_btn_text;
    &:hover {
      color: $blue-theme_btn_text_hover;
    }
  }
  // cards
  .card-link {
    color: $blue-theme_card_text;
    &:hover {
      color: $blue-theme_card_text;
    }
    .tag-src,
    .card-date {
      color: $blue-theme_card_src;
    }
    .card-btn {
      background-color: $blue-theme_card_overlay;
      svg {
        color: $blue-theme_card_overlay_icon;
      }
    }
  }
  .card {
    background-color: $blue-theme_card_bg;
    border-color: $blue-theme_card_border;
    &:hover {
      border-color: $blue-theme_card_border_hover;
      box-shadow: $blue-theme_card_boxshadow;
    }
  }
  // tooltip
  .tooltip .tooltip-inner {
    background: $blue-theme_tooltip_bg;
    color: $blue-theme_tooltip_text;
  }

  .tooltip .tooltip-arrow {
    border-color: $blue-theme_tooltip_bg;
  }
}
