.scroll-off {
  overflow: hidden;
}
.scroll-on {
  overflow: auto;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.img {
  max-width: 100%;
  display: block;
  height: auto;
}

.desc {
  font-size: 20px;
  margin-bottom: 46px;
}

@media (max-width: 767px) {
  .title {
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 30px;
  }
  .desc {
    font-size: 16px;
  }
}
