@import '_light_theme.scss';
@import '_dark_theme.scss';
@import '_red_theme.scss';
@import '_blue_theme.scss';
@import '_green_theme.scss';

// transitions***********************************************
body {
  transition: color 0.5s ease;
  // links
  a {
    transition: color 0.5s ease;
  }
  // main bg
  .app {
    // transition: background 0.5s ease;
  }
  // navbar
  .navbar {
    transition: background-color 0.5s ease;
    .logo-link {
      transition: color 0.5s ease;
    }
    .nav-link {
      transition: color 0.5s ease;
      &-active {
        transition: color 0.5s ease, background-color 0.5s ease;
      }
    }
  }
  // palette
  .palette-themes {
    transition: background-color 0.5s ease;
  }
  // footer
  .madeby {
    transition: color 0.5s ease;
  }
  .soc-link {
    transition: color 0.5s ease;
  }
  // about page lines
  .withline::after,
  .withline::before {
    transition: background-color 0.5s ease;
  }
  // contacts button
  .contacts-btn {
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  // cards
  .card-link {
    transition: color 0.5s ease;
    .tag-src,
    .card-date {
      transition: color 0.5s ease;
    }
    .card-btn {
      transition: opacity 0.5s ease;
    }
  }
  .card {
    transition: border-color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  }
  .palette-current {
    transition: color 0.5s ease;
  }
}

// palettes**************************************************
.palette {
  &-light {
    color: $light-theme_palette;
    &:hover {
      color: $light-theme_palette_hover;
    }
  }
  &-dark {
    color: $dark-theme_palette;
    &:hover {
      color: $dark-theme_palette_hover;
    }
  }
  &-red {
    color: $red-theme_palette;
    &:hover {
      color: $red-theme_palette_hover;
    }
  }
  &-blue {
    color: $blue-theme_palette;
    &:hover {
      color: $blue-theme_palette_hover;
    }
  }
  &-green {
    color: $green-theme_palette;
    &:hover {
      color: $green-theme_palette_hover;
    }
  }
}
